/* .....Global Style........*/
html{
  box-sizing: border-box;
}
*, *:before, *:after{
  box-sizing: border-box;
}
body{
  background-color: #3C3C3C;
  font-size: 14px;
  line-height: 1.5;
}
h1, h2{
  color: #FFFFFF;
}
h1{
  font-size: 55px;
  font-family: arial, sans-serif;
  padding-left: 200px;
  margin-bottom: 0;
}
h2{
  font-style: italic;
  font-family: Helvetica, sans-serif;
  font-weight: normal;
  font-size: 30px;
  padding-left: 200px;
  line-height: 1.2;
  margin-top: 0;
}
h3{
  color: #3C3C3C;
  font-size: 20px;
  font-weight: bold;
  font-family: Tahoma, sans-serif;
}
h4{
  color: hsl(196, 44%, 51%);
  font-size: 19px;
  font-weight: bold;
  font-family: Tahoma,sans-serif;
}
p{
  color: #3C3C3C;
  font-family: Tahoma, sans-serif;
}
a{
  text-decoration: none;
  font-family: Tahoma, sans-serif;
}
.lightblue{
  color: #00ace6;
}
.main-content{
  background-color: white;
  padding-top: 25px;
  padding-bottom: 100px;
  padding-left: 200px;
  padding-right: 50px;
  width: 65%;
  height: 800px;
  float: left;
}

/* .....Banner........*/
header{
  background-color: hsl(196, 44%, 51%);
  padding-top: 30px;
  padding-bottom: 30px;
}
/* .....Navigation Bar.......*/
nav{
  background-color: rgb(235, 235, 224);
  padding-left: 200px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 15px;
  font-family: arial, sans-serif;
}
nav a{
  color: #262626;
  font-weight: bolder;
}
/* .....Introduction paragraph........*/
/* .....Quote........*/
blockquote{
  display: inline;
  font-size: 21px;
}
/* .....Details paragraph........*/
/* .....Sidebar.......*/
aside{
  background-color: white;
  font-family: Tahoma, sans-serif;
  font-size: 14px;
  padding-top: 25px;
  padding-bottom: 126px;
  padding-right: 200px;
  width: 35%;
  height: 800px;
  float: left;
}
figcaption{
  line-height: 1.5;
  margin-bottom: 15px;
}
.sidebar figure{
  position: relative;
  display: inline;
  margin-left: 0;
}
.sidebar img{
  width: 260px;
}
 /* .....Footer........*/
footer{
  background-color: #3C3C3C;
  float: none;
}
footer nav{
  background-color: #3C3C3C;
}
.content-wrap{
  color: #FFFFFF;
  width: 500px;
  margin-left:auto;
  margin-right: auto;
  padding-bottom: 50px;
  text-align: center;
  font-size: 14px;
}
.content-wrap img{
  width: 330px;
  padding: 20px;
  padding-bottom: 10px;
  margin-top: 50px;
}
.divider{
  padding: 0 5px;
}
.content-wrap p{
  color: #FFFFFF;
  font-size: 14px;
}
.content-wrap a{
  color: #FFFFFF;
  font-size: 14px;
}
.content-wrap nav{
  display: inline-block;
  padding-left: 0;
}
 /* .....About us page........*/
 .kitty-eye{
   width: 100%;
   float: none;
   background-color: white;
   padding-top: 30px;
   padding-bottom: 30px;
 }
 .kitty-eye h5{
   display: block;
   color: hsl(196, 44%, 51%);
   font-size: 16px;
   font-weight: bold;
   font-family: Tahoma,sans-serif;
   margin-top: 10px;
   margin-bottom: 0;
   margin-left: 60px;
 }
 .kitty-eye figcaption{
   font-family: Tahoma, sans-serif;
   margin-bottom: 15px;
   margin-left: 60px;
 }
 .kitty-eye figure{
   position: relative;
   display: inline;
 }
 .kitty-eye img{
   width: 1250px;
}
